* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#color_selector {
    padding: 0px 2px 0px 2px;
}

h1,
legend {
    text-align: center;
}

form {
    max-width: 350px;
    margin: 10px auto 0 auto;
}

.center-message {
    text-align: center;
}

.password-div-container {
}

#password {
    width: 100%;
    padding: 8px 0px;
    border-width: 0px 0px 2px 0px;
    outline: none;
}

.showpassword_box {
    display: flex;
    margin-top: -10px;
}

.showpassword_box p {
    margin-left: 10px;
}

.box input[type="checkbox"] {
    width: 16px;
}

.box input[type="checkbox"] {
    width: 16px;
}

fieldset {
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.1);
    font-size: large;
    border: 2px solid;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1;
}

input, select {
    width: 100%;
    padding: 4px;
    margin-bottom: 8px;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: medium;
    background-color: #333;
    color: #fff;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #444;
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {
    form {
        max-width: 100%;
    }
}